body{
    background-color: rgb(247, 247, 247);
    color: rgb(0, 0, 0);
}

.container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(6, 100px);
    gap: 10px;
    padding: 20px;
  }

  .item {
    background-color: #04542e;
    color: white;
    font-size: 1.2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
  }

  /* Primeira linha - dois itens (2 colunas cada) */
  .item1 {
    grid-column: span 2;
    grid-row: 1;
  }

  .item2 {
    grid-column: span 2;
    grid-row: 1;
  }

  /* Segunda linha - um item ocupando todas as colunas */
  .item3 {
    grid-column: 1 / -1;
    grid-row: 2;
  }

  /* Terceira linha - um item ocupando todas as colunas */
  .item4 {
    grid-column: 1 / -1;
    grid-row: 3;
  }

  /* Quarta linha - item central (coluna 2 e 3) */
  .item5 {
    grid-column: 2 / 4;
    grid-row: 4;
  }

  /* Quinta linha - item ocupando todas as colunas */
  .item6 {
    grid-column: 1 / -1;
    grid-row: 5;
  }

  /* Sexta linha - três itens, o primeiro maior */
  .item7 {
    grid-column: span 2;
    grid-row: 6;
  }

  .item8 {
    grid-column: span 1;
    grid-row: 6;
  }

  .item9 {
    grid-column: span 1;
    grid-row: 6;
  }