*{
    margin: auto;
    width: 98%;
}

body{
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    font-family: "Alfa Slab One", serif;
  
}

.Divs{
    border: 2px solid green;
    clear: both;
    height: 520px;
    margin-bottom: 30px;
}

#FilmeRuim{
    width: 350px; 
    height: 480px;
    float: left;
    padding: 20px;
    padding-bottom: 10px;
    margin-right: 40px;
    border-radius: 10%;
    /* transition: width 5s, height 5s, transform 5s; */
}
/* #FilmeRuim:hover{
    width: 450px;
    height: 600px;
    transform: rotate(180deg);
} */
#table{
    width: 70%;
    border:1px solid;
    float: left;
    color: brown;
    margin-top: 30px;
    border-radius: 20px;
    border-collapse: collapse;
}

td{
    width: 50%;
    border: solid;
    border-radius: 10px;
}

#sorria{
    font-size: 25px;
    color: brown;
    margin-top: 20px;
}
#sorria:hover{
    color:rgb(97, 0, 0);
    background-color: rgb(255, 0, 0);
}

#Areia{
    width: 550px;
    height: 480px;
    float:right;
    padding: 20px;
    transition: opacity 9s;
}
#Areia:hover{
    opacity:0;
}

#naruto::first-letter{
    font-size: 25px;
    color: aqua;
}

#GodOfWars{
    width: 650px;
    height: 480px;
    float:left;
    padding: 20px;
}

#RDR{
    width: 650px;
    height: 480px;
    float:right;
    padding: 20px;
}

#Gif{
    width: 150px;
    height: 150px;
    margin-top:160px ;
    margin-bottom:0px ;
    margin-left:150px ;
    margin-right: 150px ;
}

